:root {
  --stone-50: oklch(0.985 0.001 106.423);
  --stone-100: oklch(0.97 0.001 106.424);
  --stone-200: oklch(0.923 0.003 48.717);
  --stone-300: oklch(0.869 0.005 56.366);
  --stone-400: oklch(0.709 0.01 56.259);
  --stone-500: oklch(0.553 0.013 58.071);
  --stone-600: oklch(0.444 0.011 73.639);
  --stone-700: oklch(0.374 0.01 67.558);
  --stone-800: oklch(0.268 0.007 34.298);
  --stone-900: oklch(0.216 0.006 56.043);
  --stone-950: oklch(0.147 0.004 49.25);

  --black: #222;
  --white: oklch(1 0 0);

  --spacing: .25rem;
  --1: var(--spacing);
  --2: calc(var(--spacing) * 2);
  --3: calc(var(--spacing) * 3);
  --4: calc(var(--spacing) * 4);
  --5: calc(var(--spacing) * 5);
  --6: calc(var(--spacing) * 6);
  --7: calc(var(--spacing) * 7);
  --8: calc(var(--spacing) * 8);
}

*, *::before, *::after {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, Cantarell, roboto, noto, helvetica, arial, sans-serif;
  font-size: 14px;
}

body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--stone-50);
  color: var(--black);
}

input, button, textarea {
  font-family: inherit;
  font-size: inherit;
  color: var(--black);
}

input:disabled {
  cursor: not-allowed;
}

input::placeholder,
textarea::placeholder {
  color: var(--stone-400);
}

a { color: var(--black); }

table {
  border: 1px solid var(--stone-200);
  border-bottom-width: 2px;
  border-radius: var(--2);
  border-spacing: 0;
  overflow: hidden;
  background: var(--white);
  width: 100%;
}

th, td {
  padding: var(--3) var(--5);
  text-align: left;
}

th {
  padding: var(--2) var(--5);
  font-weight: normal;
}

tr:not(:first-child) td {
  border-top: 1px solid var(--stone-200);
}

.golink-row--action {
  color: var(--stone-400);
  margin-right: .5rem;

  &:hover {
    color: var(--stone-500);
    background: initial;
  }

  svg {
    width: 16px;
    height: 16px;
  }
}

textarea,
input[type="text"] {
  padding: var(--4);
  border-radius: var(--2);
  border: 1px solid var(--stone-300);
  width: 100%;
  height: 40px;
}

textarea {
  font-family: monospace;
  min-height: 200px;
  resize: none;
}

hr {
  border: 0;
  margin: 0 0 var(--4) 0;
  border-top: 1px solid var(--stone-200);
  width: 100%;
}

label {
  font-weight: bold;
}

form {
  display: block;
}

a:hover {
  background: var(--stone-100);
}

.logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: var(--8) 0 var(--4) 0;;
  border-bottom: 1px solid var(--stone-200);
  padding-bottom: var(--4);

  a {
    display: flex;
    text-decoration: none;
    align-items: center;
  }

  h1, p {
    margin: 0 var(--1);
    font-size: 1.25rem;
  }

  img {
    width: 32px;
    border-radius: var(--1);
    border: 1px solid var(--stone-200);
  }
}

.container {
  width: 100%;
  max-width: 900px;
  padding: 0 var(--4);
}

.golink-home--actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--3);
}

.inline-form {
  display: flex;
  align-items: flex-end;
  gap: var(--2);

  .inline-form-divider {
    margin: var(--3) var(--4);
  }

  .inline-form-section {
    display: flex;
    flex-direction: column;
    gap: var(--1);
  }

  .inline-form-section--2 {
    flex: 2;
  }
}

.form-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: var(--3);
  * {
    margin-left: var(--3);
  }
}

.label-attached-wrapper {
  display: flex;
  align-items: center;
}

.label-attached {
  background: var(--stone-100);
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--4) var(--5);
  border: 1px solid var(--stone-300);
  border-radius: var(--2) 0 0 var(--2);
  border-right: 0;
}

input.input-attached {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.button {
  background-color: var(--white);
  border: 1px solid var(--stone-300);
  border-radius: var(--2);
  color: var(--black);
  display: inline-block;
  line-height: 1.25rem;
  font-weight: 600;
  padding: var(--2) var(--4);
  text-decoration: none;
  user-select: none;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  cursor: pointer;
  &:hover {
    background-color: var(--stone-50);
  }
}
